<main class="d-flex" style="gap: 20%">
  <section class="mb-5 section-validar">
    <p>Ingresa por favor la fecha que deseas validar</p>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">date</span>
      <input
        type="date"
        class="form-control"
        style="max-width: 50%"
        [(ngModel)]="fechaSeleccionada"
        aria-describedby="basic-addon1"
      />
    </div>
    <button type="button" class="btn btn-primary" (click)="validarFecha()">
      Validar Fecha
    </button>
    <p *ngIf="fechaSeleccionada" class="pt-3">
      Seleccionaste la fecha: {{ fechaSeleccionada }} y ese dia es:
      {{ respuesta?.festivo }}
    </p>
  </section>

  <section clas="section-validar">
    <p>Ingresa por favor el año del cual quieres saber los festivos</p>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">date</span>
      <input
        type="number"
        class="form-control"
        style="max-width: 50%"
        min="1900"
        max="2100"
        placeholder="Año"
        [(ngModel)]="anoSeleccionado"
        aria-describedby="basic-addon1"
      />
    </div>
    <button type="button" class="btn btn-success" (click)="verFestivos()">Ver Festivos</button>

    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Festivo</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let festivo of festivosList">
          <td>{{ festivo.festivo }}</td>
          <td>{{ festivo.fecha }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
